<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="sarbaz.Properties.Settings.sarbaz_DBConnectionString"
            connectionString="Data Source=SARBAZ-PC;Initial Catalog=sarbaz_DB;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
       <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  </configuration>